@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1693321224378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-016_ditudingwei:before {
  content: "\e64e";
}

.icon-a-016_daohanglan:before {
  content: "\e64f";
}

.icon-a-016_dingdan-04:before {
  content: "\e650";
}

